fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
python-multipart
python-jose
google-generativeai
psycopg2-binary
gunicorn
pydantic-settings
grpcio
argon2-cffi
stripe
python-dotenv
email-validator
argon2-cffi
PyJWT
email-validator
resend
